/*
font-family: 'Bungee Spice', cursive;
font-family: 'Farsan', cursive;
*/

h1 {
    color: white;
    background-color: orangered;
    text-align: center;
}

.centrado {
    text-align: center;
}

h2 {
    color: brown;
    background-color: antiquewhite;
    font-size: px32;
}

h3 {
    font-family: arial black;
    font-weight: bold;
    font size: 30px;
    color: #fff;
    text-shadow: -1px 0 #000, 0 1px #000, 1px 0 #000, 0 -1px #000;
}


h4 {
    font-size: 15px;
    font-family: 'Bungee Spice', cursive;
    color: chocolate;
}

#rojo {
    width: 400px;
    /*height: 250px;*/
    /*background-color: lightcoral;*/
    border: 2px dotted blueviolet;
    padding: 25px;
    box-sizing: border-box;
    margin-left: 50px;
    
    background: rgb(2, 0, 36);
    background: linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgba(245, 202, 168, 1) 0%, rgba(219, 92, 46, 1) 35%, rgba(255, 119, 0, 1) 100%);
}

#rojo p {
    color: black;
	margin:0;
    
}

.columnas{
	column-count: 4;
	
}

img {
    display: block;
    margin: auto;
}

h5{
    text-align: center;
}