/*
font-family: 'Lato', sans-serif;
*/

body {
    font-family: 'Lato', sans-serif;
    font-size: 16px;
    line-height: 20px;
}

header {
    background-color: white;
    padding: 16px 0;
}


nav {

    position: relative;
    bottom: 30px;
    margin-left: 120px;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;

}

nav ul li {
    margin-right: 80px;
}

nav ul li a{
    color: black;
    text-decoration: none;
    padding: 3px 6px;
    display: block;
    text-align: center;
}

nav ul li a:hover{
    background-color: rgba(0, 0, 0, 0.3);
}

footer {
    background-color: black;
    clear: both;
    color: white;
    text-align: center;
    padding: 5px 0;
    margin-top: 20px;
}

nav ul li a.activo {
    background-color: burlywood;
}

.holder {
    max-width: 960px;
    margin: 0 auto;
    
}

.servicios{
    width: 75%;
    padding-right: 10px;
    box-sizing: border-box;
}



.columnas{
    display: flex;
    justify-content: space-between;
}

.Servicios p {
    font-size: 20px;
}

.testimoniales{
    width:90%;
    margin:50px auto;
    padding:30px;
    background:#ffffff;
    box-shadow: 0px 0px 8px 0px rgba(0,0,0,0.45);
    box-sizing: border-box;
  }
  .testimoniales .info-testimonial, .testimoniales .perfil{
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  .testimoniales .info-testimonial img{
    width:50px;
    height:50px;
  }
  .testimoniales .info-testimonial p{
    font-size:14px;
    font-style: italic;
    line-height:22px;
    text-align: center;
    color:black;
    margin-top: 20px;

  }
  .testimoniales .perfil{margin-top:30px;}
  .testimoniales .perfil img{
    width:90px;
    height:90px;
    border-radius:50%;
  }
  .testimoniales .perfil h4, .testimoniales .perfil p{
     margin:0;
     
  }
  .testimoniales .perfil h4{
     font-size:18px;
     font-weight:600;
     margin-top:10px;
     color:#131313;
  }
  .testimoniales .perfil p{
     font-size:16px;
     margin-top:5px;
     color:#525252;
     
  }


/*
fin de home
*/

/* Inicio de Nosotros */

.nosotros{
    font-size: 16px;
}


.equipo {
    width: 100%;
    margin-bottom: 30px;

}

.equipo-personas {
    display: flex;
    flex-wrap: wrap; /* Hace que los elementos fluyan hacia una nueva línea si no caben en la misma fila */
    justify-content: space-between;

    
}

.columnas {
    flex: 1; /* Las columnas se ajustarán automáticamente al mismo ancho */
    text-align: center;
}

.persona {
    border: 1px solid grey;
    border-radius: 5px;
    width: 18%;
    text-align: center;
    padding: 13px;
    box-sizing: border-box;
    margin-bottom: 10px; /* Agrega espacio entre las personas */
}

.persona img {
    border-radius: 50%;
}

.persona h5 {
    font-size: 16px;
    margin: 5px 0;
}

.persona h6 {
    font-size: 14px;
}


/* Fin Nosotros */

/* Inicio BLOg */

.blog {
    background-color: #fff;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}


h6 {
    color: #777;
    margin-bottom: 15px;
}


hr {
    border: none;
    height: 1px;
    background-color: #ddd;
    margin: 20px 0;
}
/* Fin Blog */

/*Inicio Contacto*/

.contacto {
    display: flex;
    gap: 24px;
}

.contacto div{
    width: 100%;
}

.formulario {
    width: 400px;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

label {
    display: block;
    margin-bottom: 8px;
    color: #555;
}

input, textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 3px;
    font-size: 14px;
}

textarea {
    resize: vertical;
}

input[type="submit"] {
    background-color: black;
    color: #fff;
    padding: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

input[type="submit"]:hover {
    background-color: black;
}


.redes-sociales {
    margin-top: 15px;
}

.redes-sociales a {
    display: inline-block;
    margin-right: 10px;
    color: #007bff;
    text-decoration: none;
    font-size: 16px;
}


/*Fin Contacto*/
