.blog {
    background-color: #fff;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.blog img {
    max-width: 100%; 
    height: auto; 
    border-radius: 8px; 
}

h6 {
    color: #777;
    margin-bottom: 15px;
}


hr {
    border: none;
    height: 1px;
    background-color: #ddd;
    margin: 20px 0;
}